<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.marcusrunge.The_Boeing_737NG_App" android:versionCode="17" android:versionName="1.2.4">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="@string/app_name" android:icon="@drawable/splash" android:theme="@style/Theme.BoeingTheme"></application>
</manifest>